* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(./images/bg-3.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: #f9004d;
}

ul li {
    display: inline-block;
    padding: 10px 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .6s;
}

.btn:hover {
    transform: scale(1.1);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
}

.info h1 {
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}

.info .span1 {
    color: #f9004d;
    margin: 20px 0 20px;
    font-size: 70px;
}

.info h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.info h4 {
    color: rgb(209, 202, 202);
    font-size: 20px;
    letter-spacing: 2px;
}

.new form {
    width: 400px;
    max-width: 100%;
    position: relative;
}

.new form input:first-child {
    width: 100%;
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
}

.new form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    background-color: #f9004d;
    color: white;
    border-radius: 30px;
    top: 6px;
    right: 6px;
}

.lol {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/bg-2.jpg);
    background-position: center;
    background-size: cover;
}

.about-span {
    color: #035397;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.heading {
    color: #5089C6;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.about {
    margin-top: 30px;
    margin-bottom: 50px;
}

.image {
    height: 100%;
    width: 100%;
    border: 5px solid #00C1D4;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #28FFBF;
}

.btn-1 {
    background-color: #001E6C;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .6s;
}

.btn-1:hover {
    transform: scale(1.1);
    color: yellowgreen;
}

#head {
    color: white;
    font-size: 60px;
    text-align: center;
}

#head1 {
    color: pink;
    font-size: 60px;
    text-align: center;
}

.skills {
    margin: 120px 120px 0 120px;
}